<!DOCTYPE html>
<%binding.pry%>
<html>
<body>
  <h1>Index.erb</h1>
  <h2>Articles</h2>
  <% @articles.each do |article|%>
    <h3><%=article.title%></h3>
    <h3><%=article.content%></h3>
    <br/>
    <%end%>
</body>
</html>



<h1>Index.erb</h1>
