<DOCTYPE html>
  <html>
  <head>
    <title>Sinatra CRUD Lab</title>
  </head>
  <body>
    <form method="POST" action='/articles'>
      <label for "title">Title:</label>
      <input type="text" name="title" id="title">
      <br/>
      <label for "content">Content:</label>
      <input type="text-area" name="content" id="content">
      <br/>
      <input type="submit" value="Submit" name="submit" id="submit">
    </form>
  </body>
  </html>
