<!DOCTYPE html>
<html>
<body>
<h1>Inside show.erb</h1>
<h1>Individual article</h1>
<h3>Title: <%=@article.title%></h3>
<h3>Content: <%=@article.content%></h3>
<br/>
<form method="POST" action='/articles/<%=@article.id%>/delete'>
  <input type="submit" name="delete" id="delete" value="DELETE">
  <input type="hidden" name="_method" id="hidden" value="delete">
</form>
</body>
</html>
